<div fxLayout="row" style="margin: 0%" fxLayoutGap="0px" fxLayout.xs="column"  fxLayoutAlign="end center" class="header">
    <div fxFlex="10%" fxLayoutAlign="start center" >
      <img src="assets/images/product-logo.png">
    </div>
    <div fxFlex="90%" class="menuAlign"  fxLayout.xs="column" fxLayoutAlign="start none" fxLayoutGap="2px" fxShow="true">
      <h3>LiveTest</h3>
    
    </div>
</div>
