.header {
    padding: 5px;
    padding-left: 7px;
    background: #0078ff;
    color: #fff;
    margin: 0%;
  }
  .menuAlign {
    direction: ltr;
    display: flex;
    justify-content: end-end;
  }
  mat-form-field {
    width: 60%;
  }