<app-header></app-header>
<div fxLayout="row" fxLayoutAlign="space-around center" style="margin:1%">
  <div fxFlex="100%">
   <mat-card style="background-color:white">
      <div class="accordion-form-section">
      
       <mat-card style="margin-top: 1%">   
       <p>
          <mat-form-field>
             <mat-label>Submitters</mat-label>
                <mat-select name="option">
                    <mat-option value="Persone1">Persone1</mat-option>
                    <mat-option value="Persone2">Persone2</mat-option>
                    <mat-option value="Persone3">Persone3</mat-option>
                </mat-select>
           </mat-form-field>
        </p> 
        <p>
            <mat-form-field>
               <mat-label>Receiver</mat-label>
                  <mat-select name="recieve">
                      <mat-option value="Status1">Status1</mat-option>
                      <mat-option value="Status2">Status2</mat-option>
                      <mat-option value="Status3">Status3</mat-option>
                  </mat-select>
             </mat-form-field>
          </p> 
          <p>
              <mat-form-field>
                 <mat-label>Form Type</mat-label>
                    <mat-select name="option">
                        <mat-option value="Type1">Type1</mat-option>
                        <mat-option value="Type2">Type2</mat-option>
                        <mat-option value="Type3">Type3</mat-option>
                    </mat-select>
               </mat-form-field>
            </p> 
            <p>
                <mat-form-field>
                   <mat-label>Claim Type</mat-label>
                      <mat-select name="option">
                          <mat-option value="Claim1">Claim1</mat-option>
                          <mat-option value="Claim2">Claim2</mat-option>
                          <mat-option value="Claim2">Claim2</mat-option>
                      </mat-select>
                 </mat-form-field>
              </p> 
              <p></p>
            </mat-card> 
            <mat-card style="margin-top: 1%">
              <p>
                  <mat-form-field>
                  <input matInput type="text"  placeholder="Beneficiary" name="beneefecary">
                  </mat-form-field>
              </p>
              <p>
                  <mat-form-field>
                  <input matInput type="text"  placeholder="First Name" name="firstName">
                  </mat-form-field>
              </p>
              <p>
                  <mat-form-field>
                  <input matInput type="text"  placeholder="Last Name" name="LastName">
                  </mat-form-field>
              </p>
              
               <p>
                  <mat-form-field>
                      <input matInput [matDatepicker]="pickerDob" placeholder="DOB">
                      <mat-datepicker-toggle matSuffix [for]="pickerDob"></mat-datepicker-toggle>
                      <mat-datepicker #pickerDob startView="month" [startAt]="startDate"></mat-datepicker>
                    </mat-form-field>
               </p>
               <p>
                  <mat-form-field>
                     <mat-label>Gender</mat-label>
                        <mat-select name="gender">
                            <mat-option value="Male">Male</mat-option>
                            <mat-option value="Female">Female</mat-option>
                        </mat-select>
                   </mat-form-field>
               </p> 
             
            
               <p>
                  <mat-form-field>
                      <input matInput type="text"  placeholder="Billing NPI" name="billingNpi">
                  </mat-form-field>
               </p>
               <p>
                  <mat-form-field>
                      <input matInput type="text"  placeholder="Billing Tax" name="billingTax">
                  </mat-form-field>
               </p>
               <p>
                  <mat-form-field>
                      <input matInput type="text"  placeholder="First Name" name="fname">
                  </mat-form-field>
               </p>
               <p>
                  <mat-form-field>
                      <input matInput type="text"  placeholder="Last Name" name="lname">
                  </mat-form-field>
               </p>
               <p>
                  <mat-form-field>
                      <input matInput type="text"  placeholder="Organization Name" name="fname">
                  </mat-form-field>
               </p>
            </mat-card>
            <mat-card style="margin-top:1%">
               <p>
               <mat-checkbox style="font-size: 14px">Same as Billing</mat-checkbox>
               </p>
               <br>
           
               <p>
                  <mat-form-field>
                      <input matInput type="text"  placeholder="Servicing NPI" name="servicingNPI">
                  </mat-form-field>
               </p>
               <p>
                  <mat-form-field>
                      <input matInput type="text"  placeholder="Servicing Taxonomy" name="servicingTaxonomy">
                  </mat-form-field>
               </p>
               <p>
                  <mat-form-field>
                      <input matInput type="text"  placeholder="First Name" name="fname">
                  </mat-form-field>
               </p>
               <p>
                  <mat-form-field>
                      <input matInput type="text"  placeholder="Last Name" name="lname">
                  </mat-form-field>
               </p>
               <p>
                  <mat-form-field>
                      <input matInput type="text"  placeholder="Organization Name" name="fname">
                  </mat-form-field>
               </p>
            </mat-card>
               
             <mat-card style="margin-top: 1%">
              <label>Claim Header</label>
               <br>
               <p>
                  <mat-form-field>
                      <input matInput type="text"  placeholder="Billed Amount" name="claimHeaderCharge">
                  </mat-form-field>
               </p>
               <p>
                  <mat-form-field>
                      <input matInput type="text"  placeholder="Billed Units" name="claimHeaderCharge">
                  </mat-form-field>
               </p>
               <p>
                  <mat-form-field>
                      <input matInput [matDatepicker]="pickerFdate" placeholder="From Date">
                      <mat-datepicker-toggle matSuffix [for]="pickerFdate"></mat-datepicker-toggle>
                      <mat-datepicker #pickerFdate startView="month" [startAt]="startDate"></mat-datepicker>
                    </mat-form-field>
               </p>
               <p>
                  <mat-form-field>
                      <input matInput [matDatepicker]="pickerTdate" placeholder="To Date">
                      <mat-datepicker-toggle matSuffix [for]="pickerTdate"></mat-datepicker-toggle>
                      <mat-datepicker #pickerTdate startView="month" [startAt]="startDate"></mat-datepicker>
                    </mat-form-field>
               </p>
               <br>
               <p>
                  <mat-form-field>
                         <mat-label>Frequency</mat-label>
                            <mat-select name="option">
                                <mat-option value="Claim1">Claim1</mat-option>
                                <mat-option value="Claim2">Claim2</mat-option>
                                <mat-option value="Claim2">Claim2</mat-option>
                            </mat-select>
                  </mat-form-field>
              </p> 
              
               <p>
                  <mat-form-field>
                      <mat-label>Source</mat-label>
                         <mat-select name="option">
                             <mat-option value="Claim1">Claim1</mat-option>
                             <mat-option value="Claim2">Claim2</mat-option>
                             <mat-option value="Claim2">Claim2</mat-option>
                         </mat-select>
               </mat-form-field>
               </p>
               <br>
               <p>
                  <mat-form-field>
                      <input matInput type="text"  placeholder="Primary Diagnosis" name="primaryDiagnosis">
                  </mat-form-field>
                </p>
              <p>
                  <mat-form-field>
                      <mat-chip-list #chipList2 aria-label="Fruit selection">
                        <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                                 [removable]="removable" (removed)="remove(fruit)">
                          {{fruit.name}}
                          <mat-icon matChipRemove *ngIf="removable">close</mat-icon>
                        </mat-chip>
                        <input placeholder="Secondry Diagnosis"
                               [matChipInputFor]="chipList2"
                               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                               [matChipInputAddOnBlur]="addOnBlur"
                               (matChipInputTokenEnd)="add($event)">
                      </mat-chip-list>
                    </mat-form-field>
               </p>
                <mat-card style="background-color: white">
                <mat-card-subtitle>Expected Results</mat-card-subtitle>
                 <p>
                    <mat-form-field>
                        <input matInput type="text"  placeholder="Paid Amout" name="charge">
                    </mat-form-field>
                 </p>
                 <p>
                    <mat-form-field>
                        <input matInput type="text"  placeholder="Allowed Amout" name="charge">
                    </mat-form-field>
                 </p>
                 <p>
                   <mat-form-field>
                    <input matInput type="text"  placeholder="Paid Units" name="charge">
                   </mat-form-field>
                 </p>  
                 <p>
                    <mat-form-field>
                        <mat-label>Claim Type</mat-label>
                           <mat-select name="diagnosisOptions">
                               <mat-option value="Type1">Type1</mat-option>
                               <mat-option value="Type2">Type2</mat-option>
                               <mat-option value="Type3">Type3</mat-option>
                           </mat-select>
                      </mat-form-field>
                 </p>   
                  <p>
                      <mat-form-field>
                          <input matInput type="text"  placeholder="Error Codes" name="errorCode">
                      </mat-form-field>
                  </p>
                </mat-card>
            </mat-card>
            <div fxLayoutAlign="end start">
                    <button mat-raised-button color="primary" style="margin-top: 1%" (click)="addAnotherService(i)">Add New Line</button>
            </div>
            
            <form  [formGroup]="form">
             
             <div formArrayName="services" *ngFor="let service of form.controls.services.controls ;let i = index">
               
                <div [formGroupName]="i">
                        <mat-card style="margin-top: 1%">
              <p>
                 <mat-form-field>
                    <input matInput [matDatepicker]="serviceFromDatepicker" placeholder="From Date" name="fromDate"
                    formControlName="fromDate" >
                    <mat-datepicker-toggle matSuffix [for]="serviceFromDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #serviceFromDatepicker startView="month" [startAt]="startDate"></mat-datepicker>
                  </mat-form-field>
             </p>
             <p>
                <mat-form-field>
                    <input matInput [matDatepicker]="serviceToDatepicker" placeholder="To Date"  name="toDate"
                    formControlName="toDate">
                    <mat-datepicker-toggle matSuffix [for]="serviceToDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #serviceToDatepicker startView="month" [startAt]="startDate"></mat-datepicker>
                  </mat-form-field>
             </p>
             <p>
                <mat-form-field>
                    <input matInput type="text"  placeholder="Servicing NPI" name="npi" formControlName="npi">
                </mat-form-field>
             </p>
             <p>
                <mat-form-field>
                    <input matInput type="text"  placeholder="Taxomony" name="taxonomy" formControlName="taxonomy">
                </mat-form-field>
             </p>
             <p></p>
             <p>
                <mat-form-field>
                    <input matInput type="text"  placeholder="Revenue" name="revenue" formControlName="revenue">
                </mat-form-field>
              </p>
             <p>
                <mat-form-field>
                    <input matInput type="text"  placeholder="Procedure" name="procedure" formControlName="procedure">
                </mat-form-field>
             </p>
             <p>
                 <mat-form-field>
                        <mat-chip-list #chipList2 aria-label="Fruit selection">
                          <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                                   [removable]="removable" (removed)="remove(fruit)">
                            {{fruit.name}}
                            <mat-icon matChipRemove *ngIf="removable">close</mat-icon>
                          </mat-chip>
                          <input placeholder="Modifiers" formControlName="secondrydiagnosis"
                                 [matChipInputFor]="chipList2" name="secondrydiagnosis"
                                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                 [matChipInputAddOnBlur]="addOnBlur"
                                 (matChipInputTokenEnd)="add($event)" maxlength="2">
                        </mat-chip-list>
                      </mat-form-field>
                   
                 </p>
                 <br>
                 <p>
                <mat-form-field>
                    <input matInput type="text"  placeholder="Billed Amout" name="charge" formControlName="charge">
                </mat-form-field>
             </p>
             <p>
                <mat-form-field>
                    <input matInput type="text"  placeholder="Billed Units" name="chargeUnits" formControlName="chargeUnits">
                </mat-form-field>
             </p>
             <p>
                <mat-form-field>
                   <mat-label>Diagnosis</mat-label>
                      <mat-select name="diagnosisOptions" formControlName="diagnosisOptions">
                          <mat-option value="Diagnosis1">Diagnosis1</mat-option>
                          <mat-option value="Diagnosis2">Diagnosis2</mat-option>
                          <mat-option value="Diagnosis3">Diagnosis3</mat-option>
                      </mat-select>
                 </mat-form-field>
              </p> 
              <mat-card style="background-color: white">
                    <mat-card-subtitle>Expected Results</mat-card-subtitle>
                     <p>
                        <mat-form-field>
                            <input matInput type="text"  placeholder="Paid Amout" name="paidAmount" formControlName="paidAmount">
                        </mat-form-field>
                     </p>
                     <p>
                        <mat-form-field>
                            <input matInput type="text"  placeholder="Allowed Amout" name="allowedAmount" formControlName="allowedAmount">
                        </mat-form-field>
                     </p>
                     <p>
                       <mat-form-field>
                        <input matInput type="text"  placeholder="Paid Units" name="padiUnits" formControlName="padiUnits">
                       </mat-form-field>
                     </p>  
                     <p>
                        <mat-form-field>
                            <mat-label>Claim Type</mat-label>
                               <mat-select name="claimType" formControlName="claimType">
                                   <mat-option value="Type1">Type1</mat-option>
                                   <mat-option value="Type2">Type2</mat-option>
                                   <mat-option value="Type3">Type3</mat-option>
                               </mat-select>
                          </mat-form-field>
                     </p>   
                      <p>
                          <mat-form-field>
                              <input matInput type="text"  placeholder="Error Codes" name="errorCodes" formControlName="errorCodes">
                          </mat-form-field>
                      </p>
                </mat-card>
              <div fxLayoutAlign="end start">
                    <button style="margin-top: 1%" *ngIf="form.get('services').length>1" mat-raised-button color="primary" (click)="removeThisService(i)">remove</button>
                </div>
                </mat-card>
               
             
            </div>
              
        </div>
           </form>
           
      
  
     <div fxLayoutAlign="end start" style="margin-top:1%">
     <button  mat-raised-button color="primary">Save</button>
    </div>
    </div>
   </mat-card>
  </div>
</div>
<router-outlet></router-outlet>
