mat-form-field {
    width: 70%;
    font-size: 15px;
}
mat-card{
    background-color: rgb(248, 248, 248)
}

.accordion-form-section p {
    width: 20%;
    display: inline-block;
    margin: 0em 0 0 0;
    vertical-align: top;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   margin: 0;
}
.chips  mat-form-field {
    width: 100% !important;
    
}

span{
    width: 100%;
    display: inline-block;
    margin: 0.5em 0 0 0;
    
}