/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    min-height: 100%;
    /* background: #303030; */
  }